.memojiCarousel {
  display: flex;
  flex-direction: column;
  transform: translateY(0);
  gap: 25px;
}

.memojiCarousel.reverse {
  flex-direction: column-reverse;
}

.memojiItems {
  display: flex;
  flex-direction: column;
  gap: 25px;
  transition: transform linear;
}

.memoji {
  width: 100px;
  height: 100px;
}

@media (max-width: 1280px) {
  .memojiCarousel {
    flex-direction: row;
  }

  .memojiCarousel.reverse {
    flex-direction: row-reverse;
  }

  .memojiItems {
    flex-direction: row;
  }
}
